@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;800&display=swap");

:root {
  /* font */
  -primary--font: "Mulish", sans-serif;
}

* {
  box-sizing: border-box;
  /* border: 0; */
  margin: 0%;
  padding: 0%;
  list-style-type: none;
}

input[type="number"] {
  width: 20px;
  margin: 0 5px;
}

body {
  width: 100%;
  height: 100vh;
  /* display: flex;
    justify-content: space-between; */
  font: var(-primary--font);
  color: aliceblue;
}

.home section {
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.home span {
  font-weight: 800;
}

.prev,
.next {
  opacity: 0.4;
  font-size: 50px;
  cursor: pointer;
  /* justify-self: end; */
}

.prev:hover,
.next:hover {
  opacity: 1;
}

.home h1 {
  font-size: 70px;
  font-weight: 400;
  margin-bottom: 50px;
  letter-spacing: 2px;
}

.home-content {
  display: inline-block;
  text-align: center;
}
.home p {
  font-size: 30px;
  line-height: 1;
}

.home input[type="button"] {
  width: 250px;
  height: 80px;
  margin: 50px 10px;
  background: aliceblue;
  font-size: 30px;
  border-radius: 20px;
}

.logo {
  font-size: 60px;
  font-weight: 800;
}

.nav {
  background: rgb(29, 2, 2);
  font-size: 40px;
  border-radius: 20px;
  width: fit-content;
  display: inline-block;
  height: 100%;
  margin-right: 20px;
}
nav {
  height: 100%;
}

nav li {
  width: 134px;
  height: 122px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

nav ul {
  height: 100%;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}

.menu-container {
  display: grid;
  grid-template-columns: repeat(4, 224px);
  gap: 10px 20px;
  color: black;
}

.menu-img {
  /* height: 240px; */
}

.menu_ {
  padding: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.nav,
.nav-content {
  height: 100%;
  display: flex;
  flex-direction: column;

}

.load-more {
  color: aliceblue;
  width: 154px;
  height: 64px;
  align-self: center;
  font-size: 18px;
  margin-top: 50px;
  background:rgb(29, 2, 2) ;
}

.heading {
  color: black;
  border-bottom: rgba(255, 192, 203, 0.399) 5px solid;
  border-radius: 0;
  font-size: 35px;
  align-self: flex-start;
  margin-bottom: 50px;
}

.hidden {
  visibility: hidden;
}

.display-none {
  display: none;
}

.cart-section {
  align-self: center;
  display: grid;
  grid-template-columns: 2fr 1fr;
  font-size: 30px;
  gap: 20px;
}

.cart-item-incrementers>p{
  display: flex;
  align-items: center;
}

.cart-section li {
  height: (608/4)px;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: space-between;
  color: black;
  padding: 10px 20px;
  text-transform: capitalize;
  background: rgb(255, 160, 122);
  width: 608px;
}

.cart-section li > img {
  border-radius: 50%;
  width: 90px;
  height: 90px;
}

.container{
  padding: 40px;
  height: 290px;
  width: 443px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 30px;
  color: black;
}

.container>h2{
  font-size: 40px;
}

.container>input{
  height: 78px;
}

.promo-container{
  height: 326px;
}

